[submodule "web3-crowdfunding-contracts"]
	path = web3-crowdfunding-contracts
	url = https://github.com/Dalois-30/web3-crowdfunding-contracts
[submodule "web3-crowdfunding-client"]
	path = web3-crowdfunding-client
	url = https://github.com/Dalois-30/web3-crowdfunding-client
